<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.png">
  <title>Inchirieri auto Tulcea | Rent a car Tulcea</title>

  <!-- Head -->
  <%- include('../partials/head') %>

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Închirieri auto Tulcea</span>
  </h1>

  <!-- Navigation -->
  <%- include('../partials/nav') %>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Asigurare casco</span>
            <span class="section-heading-lower">Mașini de calitate</span>
          </h2>
          <p class="mb-3">Toate mașinile noastre au revizie recentă și beneficiază de tipurile de asigurare RCA și
            CASCO. Ne mandrim cu servicii de calitate și clientelă satisfacută.
          </p>

        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded background">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Ce vă promitem</span>
              <span class="section-heading-lower"><strong>Este că</strong></span>
            </h2>
            <p class="mb-0 mb0" style="background-color: rgba(55, 61, 74, 0.5); border-radius: 55px;">Veți fi complet
              satisfăcut de calitatea serviciilor noastre, punandu-vă la dispoziție o varietate de mașini și oferte
              plăcute și, "colac peste pupăză", un ghid complet cu ce aveți de vizitat în Delta Dunarii și împrejurimile
              ei.</p>
          </div>
        </div>
      </div>
    </div>
  </section><br>
  <hr>

  <div class="container">
    <h2 style="color: rgba(179, 203, 101, 0.7); font-family: Times New Roman; text-decoration: italic"> <em>Ce aveți de
        vizitat în Delta Dunării, după ce închiriați unul din turismele noastre.</em></h2>
  </div><br>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/letea.jpg" alt="Padurea Letea">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5 delta">
            <h2 class="display-4">Pădurea Letea</h2>
            <p>Pădurea Letea este cea mai veche rezervaţie naturală din ţara noastră, fiind declarată arie naturală
              protejată în anul 1938. <em>Pădurea Letea</em> este considerată mica junglă a Deltei. Aici, caii sălbatici
              zburdă liber, iar pe trunchiurile contorsionate ale copacilor lianele se înfăşoară ca nişte şerpi.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/sulina.jpg" alt="Sulina">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5 delta">
            <h2 class="display-4">Sulina, locul unde Dunărea sărută marea</h2>
            <p>Dacă ajungeţi în Sulina, cel mai estic tărâm al ţării noastre, nu rataţi o excursie până la vărsarea
              Dunării în mare.O altă destinaţie de vacanţă este plaja. La întinderea de nisip ajungeţi la pas, în
              aproximativ jumătate de oră. Veţi descoperi cea mai întinsă suprafaţă de nisip de pe litoralul românesc.
              Un loc unde convieţuiesc oameni şi animale, la marginea nisipului păscând pe dunele de cătină albă, în
              voie, mai multe vaci. O mică pasarelă de lemn care înaintează în mare este locul perfect pentru visare.
              Marea este mai limpede ca oriunde, iar ochii te dor de atâta aur, aşa luceşte nisipul. Cele două formează
              o bijuterie. Un nestemat al Mării Negre.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/guraportitei.jpg" alt="Gura Portiţei">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5 delta">
            <h2 class="display-4">Gura Portiţei</h2>
            <p>Pe o plajă încă virgină, la Gura Portiţei, parcă din pământ au răsărit câteva căsuţe vopsite în alb şi
              albastru. Turiştii au parte aici încă de linişte.Foarte puţini turişti trec de gardul de sârmă şi ajung pe
              sectorul unde-şi fac cuib specii rare de păsări. Aici, scoicile sunt neatinse de picior de om, iar
              întinderea de nisip este doar în stăpânirea înaripatelor.</p>
          </div>
        </div>
      </div>
    </div>
  </section><br>

  <!-- Footer -->
  <%- include('../partials/footer') %>

  <!-- Bootstrap JavaScript -->
  <script src="sursa/jquery/jquery.js"></script>
  <script src="sursa/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>

<!-- VK7JG-NPHTM-C97JM-9MPGT-3V66T win10key -->