<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="favicon.png">
  <title>Rent a car Tulcea | Oferte</title>

  <!-- Head -->
  <%- include('../partials/head') %>

    <style>
    body {
      margin: auto 0;
      font-family: 'Lora';
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.65))), url("img/bg2.jpg");
      background: linear-gradient(rgba(47, 23, 15, 0.65)), url("img/bg2.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

    .bt1 {
      font-size: 15px;
      padding: 2em;
    }

    .bt1:hover {
      color: white;
      text-decoration: none;
    }

    .jumbotron {
      height: 75%;
      margin-top: 2em;
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: rgba(113, 100, 96, 0.8);
      ;
      border-radius: 0.3rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
    </style>


</head>
<body>
  <%- include('../partials/nav') %>
  <div class="container">
    <div class="row">
      <% masini.forEach(function (masina){%>
      <%- include('../partials/car', {masina: masina}); %>
      <%});%>
    </div>
  </div>
  <!-- Footer -->
  <%- include('../partials/footer') %>
</body>
</html>