<html>
<title>detalii</title>
<style>
	body {
		background-color: rgba(154, 133, 133, 0.5);
	}

	section {
		-webkit-animation: mymove 5s;
		animation: mymove 5s;
	}
</style>

<body>
	<div class="container">
		<section style="font-family: Times New Roman; text-align: center; margin-top: 5px">
			<h2>Vă mulțumim !</h2>
			<h2>Cererea dumneavoastră a fost înregistrată, și veți fi contacat în cel mai scurt timp.</h2>
			<a href="index">Înapoi la pagina principală.</a>
		</section>
	</div>
</body>

</html>